<h1>Travel Block</h1>
<p>This site is intended to help a group plan an open ended trip</P>
<p>The site will have this workflow:</p>
<ol>
  <li><%= link_to "Sign up!", new_user_session_path %></li>
  <li>Create a trip</li>
<li>Create a list of places that you are interested in going</li>
  <li>Create a list of activities that you are interested in doing</li>
  <li>See and rate your interest in the activites others have posted</li>
  <li>Create potential schedule blocks of locations and activities</li>
  <li>Arrange the travel blocks until there are no conflicts</li>
  <li>Plan travel arrangements between travel blocks (transportation & visas)</li>
  <li>Keep track of broader group discussions</li>
</ol>
