/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

a {
  cursor: pointer;
}

a.no-underline {
  text-decoration-line: none;
}

.none {
  display: none;
}

.pull-right {
  float: right;
}

.show-line-breaks {
  white-space: pre-wrap;
}

.subheader-fullwidth {
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
  a {
    text-decoration-line: none;
  }
  button {
    margin-left: 10px;
  }
}

.comment-row {
  border-top: 1px solid lightgray;
  margin-top: 10px;
}

.comment-body {
  margin-top: 10px;
}

.user-information {
  margin-top: 10px;
  font-size: 12px;
  color: gray;
  border-right: 1px solid lightgray;
}
